.logo{
    width: 60px;
    height: 60px;
    margin-left: 200px;
    padding-top: 50px;
}
.box-nav{
    width:auto;
    height:100px;
}
.black-background{
    background-color: rgba(0, 0, 0, 0.8);
}
.button-nav{
    border:1px solid #333333;
    background-color: #333333;
    color:rgba(245, 245, 245, 0.824);
    text-decoration: none;
}
.separation-left{
    padding-left: 300px;
    display: inline-block;
}
.separation-text{
    margin-left: 60px;
    margin-top:12.5px;
    margin-bottom: 20px;
    display:inline-block;
 }
 .center-image{
    text-align: center;
    max-width:100%;
    width: auto;
    height: auto;
}
.center-title{
    text-align: center;
    margin-top: -200px;
    color: orange;
}
.box-center{
    background-color: black;
    width:25%;
    height:300px;
    margin-top: 100px;
    margin-left: 675px;
}
.color-title{
    color:white;
}
.center-title1{
    text-align: center;
    color: white;
    padding-top: 10px;
}
.center-text{
    font-size: 10px;
    text-align:justify;
    margin-left: 125px;
    color: white;
}
.background-image-center{
    text-align: center;
    margin-top: 50px;
}
.center-carta{
    text-align: center;
}
.button-carta{
    text-decoration: none;
    padding-left: 40px;
}
.img-carta{
    width: 800px;
    height: 1000px;
    margin-top: 10px;
}
.background-image1{
    text-align: center;
    width:300px;
    height:900px;
    background-color:rgb(242, 242, 242);
    padding-top: 50px;
    margin-left: -20px;
    display:inline-block
}
.background-image2{
    text-align: center;
    width:300px;
    height:700px;
    background-color:rgb(242, 242, 242);
    margin-top: 0px;
    margin-left: 50px;
    display:inline-block
}

.background-image{
    text-align: center;
    margin-top: 10px;
    margin-left: 25%;
    background-image: url(https://i.pinimg.com/originals/03/e0/63/03e063c696c7f9f1228af96a9ff880fa.jpg);
    width: 50%;
}
.list1{
    list-style:none;
    text-align: left;
}
.list2{
    list-style:none;
    text-align: left;
}